{{ ansible_managed | comment }}
{# Example template consumers can copy: renders vault_secret_data as KEY=value #}
{% for key, value in vault_secret_data.items() %}
{{ key | upper }}={{ value }}
{% endfor %}
